
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Anek Latin, Rubik, Helvetica, Arial, sans-serif;
}

html{
	font-size: 62.5%;
    /* line-height: 1; */
}

::selection {
    color: #F0F0F0;
    background: #787878;
  }


hr {
    margin: 5px 0px; 
}

body {
    display:flex;
    align-items: center;
    justify-content: center;
}

/* ========== Full containers para cada pag  ============ */

#fullContainer {
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns:100vw;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "nav"
        "main"
        "aside"
        "footer"
    }  
    
#fullContainerINFO {
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns:100vw;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "nav"
        "main"
        "footer"
    }   

    #fullContainerCONTACT {
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns:100vw;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "nav"
        "main"
        "footer"
    }   


/* ========== BEM ============ */

.blackText {
    color:black;
}

.whiteText {
    color:white;
}


/* ========== grid areas ============ */

/* ========== mobile first ============ */
/* ========== nav ============ */

header {
    display:flex;
    grid-area: nav;
    background-color: white;
    align-items: center;
    justify-content: center;
    position:sticky;
    top:0;
    z-index: 1;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    height: 12vh;
}

    header .mainNav ul {
        display:flex;
        list-style: none;
        margin: 5px 0px;
        justify-content: space-between;
    }

    header img {
        margin-top: 10px;
        width: 300px;
        height: auto;    
    }
    header img:hover {
        transform: scaleX(-1);
    }

            header .mainNav ul li a {
                text-decoration: none;
                color:black;
            }

/* ========== main ============ */


.marqueeBody {
    display:flex;
    justify-content: center;
    align-items: center;
    height:3vh;
}

.marquee {
    width:100%;
    background-color: #B22222;
    overflow: hidden;
} 

.marquee div {
    font-size:2rem;
    animation: animate 20s linear infinite ;
    padding-left:100%;
    display: inline-block;
}

main{
	/* background-color: #101010; */
    background: linear-gradient(to top, white, black);
	grid-area: main;
}

.heroIndex {
    display: flex;
    width: 100%;
    height: auto;
    /* margin-top: px; */
    box-shadow: 0px 10px 10px;
}

h1 {
    font-style: italic;
    margin: 20px 10px;
    font-size: 4rem;
    font-weight:300;
    text-align: left;
    color:white;
}

h2 {
    font-style: italic;
    margin: 20px 10px;
    font-size: 3rem;
    font-weight:100;
    text-align: left;
    color:white;
}

.logoAlambre {
    cursor: help; 
}

.musicContainer{
    display:flex;
    /* border: solid black 1px; */
    flex-direction: column;
    box-shadow: 0 0 20px #00000060;
}

.musicDescription {
    font-size:1.5rem;
    font-weight: 100;
    text-align:right;
    font-style: italic;
    margin: 0px 5px 0px 5px;
    color:white;
}


.fotosEventosFeed{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    font-weight: 100;
    
    
}

.column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.col1 {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size:2rem;
    flex-wrap: wrap;
}

.col1 img {
    width:50%;
    height:auto;
    box-shadow: 5px 5px 10px grey;
}




/* ========== aside ============ */

aside{
	background-color: white;
	grid-area: aside;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.socialMedia {
    display:flex;
    justify-content: space-around;
    margin: 10px 10px;
    border:solid black 1px;
    padding:10px;
    box-shadow: 2px 2px 10px grey;
}

.wholeNewsletter {
    display:flex;
    justify-content: center;
    align-items: center;
}


.newsLetter {
    background: rgb(178,34,34);
    background: radial-gradient(circle, rgba(178,34,34,1) 0%, rgba(0,0,0,1) 69%);
    background-position: center;
    width:100%;
    height:50vh;
    color:white;
    padding:60px;
    text-align:center;
    box-shadow: 0 0 20px #00000060;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.newsLetter h2 {
    text-align: center;
    line-height: 10px;
    font-size: 4rem;
}

.newsLetter p {
    text-align: center;
    font-size: 2rem;
    margin: 25px 0px;
}

input{
    text-align: center;
}

input[type=text] {
    padding: 16px 32px;
    border:none;
}

.txtb input[type=submit] {
    background-color: #404040;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}



/* ========== footer ============ */

footer{
	background-color: white;
	grid-area: footer;
    /* display: flex; */
    color:rgb(38, 38, 38);
    margin: 15px;
    /* align-items: center; */
    font-size: 1.5rem;
    font-weight:100;
    flex-direction: column;

}

.copyRight {
    display:flex;
    color: black;
    background-color: white;
    justify-content: center;
    padding:10px;
    
}

.socialIcon:hover {
    filter: blur(1px)
}

/* ========== INFO PAGE ============ */


.infoPageMain{
 background: white;
 display:flex;
} 

.infoPara {
    color:black;
    font-size: 7rem;
    margin: 0px 10%;
    font-weight: 600;
    display:flex;
    flex-direction: column;
}

.infoPara a {
    text-decoration: none;
    color:black;
}

.infoPara a:hover {
    cursor:pointer;
    color: #B22222;
}


/* ========== contact page  ============ */

.contactInfo {
    background: white;
}


form {
    color:rgb(38, 38, 38);
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
}

input[type=text] {
    color:rgb(38, 38, 38);
    margin:10px;
    border:none;
    border-bottom: 2px solid rgb(38, 38, 38);
}

input { 
    text-align: left; 
}

select {
    width: 100%;
    text-align:left;
    margin:10px 0px;
}

textarea {
    color:rgb(38, 38, 38);
}

option {
    color:rgb(38, 38, 38);
    margin: 0px 50%;
}



/* ========== media queries ============ */

/* ============ INDEX ============= */
@media (min-width:768px){
    #fullContainer {
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns:90vw 10vw;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "nav nav"
        "main main"
        "aside aside"
        "footer footer"
    }   
}

/* ============ INFO ============= */
@media (min-width:768px){
    #fullContainerINFO {
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns:90vw 10vw;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "nav nav"
        "main main"
        "footer footer"
    }   
}

/* ============ CONTACT ============= */
@media (min-width:768px){
    #fullContainerINFO {
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns:90vw 10vw;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "nav nav"
        "main main"
        "footer footer"
    }   
}

@keyframes animate{
    100%{
        transform: translate(-100%, 0);
    }
}

